*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #d4bdbd;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column; 
}

#numbers1{
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transform: translate(0%, 0%);
}

#pour{
    position: absolute;
    transform: rotate(calc(30deg * var(--i))) translateY(-150px) rotate(calc(-30deg * var(--i)));
    inset: 170px;
    text-align: center;
    margin: auto;
}

#clock{
    position: relative;
   background: rgb(71, 100, 243);
   border-radius: 50%;
   box-shadow: 0px 0px 8px rgb(60, 35, 35);
   color: rgb(68, 240, 80);
   border: 15px solid rgb(71, 68, 234);
}

#wrap{
    width: 350px;
    height: 350px;
    position: relative;
}

#hour{
    border-radius: 30px;
    position: absolute;
    height: 100px;
    width: 10px;
    background: rgb(79, 76, 233);
    margin: auto;
    top: 0;
    left: 0;
    bottom: 29%;
    right: 0;
    transform-origin: bottom center;
    transform: rotate(90deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    z-index: 3;
    box-shadow: rgb(79, 76, 233);
}

#minute{
   position: absolute;
   border-radius: 30px;
   height: 150px;
   width: 6px;
   background:rgb(79, 76, 233);
   top: 6.5%;
   left: 49%;
   bottom: 0;
   right: 0;
   transform-origin: bottom center;
   transform: rotate(90deg);
   z-index: 2;
   box-shadow: rgb(79, 76, 233);
}

#second{
    position: absolute;
    border-radius: 30px;
    width: 4px;
    height: 150px;
    top: 7%;
    left: 49.5%;
    bottom: 0;
    right: 0;
    background: rgb(79, 76, 233);
    transform-origin: bottom center;
    transform: rotate(90deg);
    z-index: 1;
    box-shadow: rgb(79, 76, 233);
}

#center-dot{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: rgb(79, 76, 233);
    box-shadow: rgb(79, 76, 233);
    border-radius: 50%;
    z-index: 10;
}

#written-time {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}