* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-sérif;
}

body{
	background-color: #d27373;
	text-align: center;
}

header {
	background: linear-gradient(90deg, #007BFF, #00D4FF);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
	font-size: 20px;
	font-weight: bold;
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li {
	margin: 0 15px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	transition: 0.3s;
}

.nav-links a:hover {
	color: #FFD700;
}

.menu-burger {
	display: none;
	font-size: 20px;
	cursor: pointer;
}

@media screen {
	.nav-links {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background: #007BFF;
		text-align: center;
	}
	
	.nav-links.active {
		display: flex;
	}
	
	.nav-links li {
		margin: 15px 0;
	}
	
	.menu-burger {
		display: block;
	}
}

footer{
	background-color: #222;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	bottom: 0;
	width: fit-content;
	text-align: center;
	padding: 10px;
	margin: 0;
	left: 50%;
	transform: translate(-50%);
}

.hello{
	padding: 10px;
	margin: 20px;
	margin-top: 80px;
	background-color: #eeeaf3;
	border-radius: 10px;
	width: fit-content;
}

