body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 16px;
	background-color: rgba(100, 149, 237, 0.8);
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
	color: rgba(50, 50, 50, 1);
}

.question {
	font-size: 18px;
	margin-bottom: 10px;
	background: blue;
	border-radius: 15px;
	border: 2px dashed black;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(80, 100, 130, 1);
}

.options {
	margin-bottom: 20px;
	background: pink;
	border-radius: 15px;
	border: 2px dashed black;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(30, 50, 80, 1);
}

.result {
	font-weight: bold;
	background: yellow;
	border-radius: 15px;
	border: 2px dashed black;
	margin: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(20, 30, 80, 1);
}

button{
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(90, 30, 40, 1);
}

div {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(30, 60, 50, 1);
}

h2{
	border: 2px dashed black;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(210, 105, 30, 1);
}

#entracte {
	color: rgba(50, 50, 50, 1);
	background-color: rgba(173, 216, 230, 0.8);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
	border: 2px dashed purple;
	border-radius: 30px;
	padding: 15px;
}

#para1{
	color: rgba(50, 50, 50, 1);
	background-color: rgba(173, 216, 230, 0.8);
}

#para2{
	color: rgba(20, 30, 50, 1);
	background-color: rgba(173, 216, 230, 0.8);
}

#division{
	border: 2px solid purple;
	border-radius: 30px;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(30, 60, 50, 1);
}

h1{
	margin-top:70px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
	border: 2px dashed purple;
	border-radius: 30px;
	padding: 15px;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(210, 105, 30, 1);
}

#pre1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
	border: 2px dashed purple;
	border-radius: 30px;
	padding: 15px;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(50, 50, 50, 1);
}

ul{
	list-style-type: none;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(50, 50, 50, 1);
}

#questionnaire{
	background-color: rgba(240, 240, 240, 0.8);
	color: rgba(30, 30, 30, 1);
	border: 2px solid purple;
	border-radius: 30px;
}

h3{
	border: 2px dashed black;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(210, 105, 30, 1);
}

#liste{
	border: 2px solid purple;
	border-radius: 30px;
	background-color: rgba(173, 216, 230, 0.8);
	color: rgba(30, 60, 50, 1);
}

.bouh-button{
	font-size: 15px;
	margin: 1px;
	padding: 1px;
	cursor: pointer;
	text-align: center;
	background-color: rgba(73, 240, 252, 0.5);
	height: auto;
}

button:hover{
	cursor: pointer;
	transform: scale(1.2, 1.2);
	background: white;
}